*{
font-family: century, serif;
text-align: center;
}
header,footer{
    background-color: indigo;
    color: white;
    font-style: oblique;
    padding: 2px;
    clear: both;

}

section{
    width: 50%;
    height: 470px;
    
}
img{
    padding: 3px;
    margin: 10px;
    border: 2px dashed slateblue;
    
}
a{
    color: white;
}
button{
    background-color: slateblue;
    color: white;
    border: none;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    

}
button:hover {
    background-color: indigo;
}
#swak{
    width: 80%;
    
}
#swak2{
    width: 80%;
}
#blok1{
float: left;
}

#blok2{
    float: left;
}
#blok3{
    clear: both;
    float: left;
}
#blok4{
    float: left;
}